
.row {
  margin-top: 46px;
}

.results {
  width: 100%;
  height: 190px;
}

.resultTitle {
  font-weight: bold;
  font-size: 18pt;
}

.searchInput, .searchButton {
  width: 100%;
}
.buttons {
  text-align: center;
}

.buttons > button {
  width: 150px;
}

.addButton {
  margin-right: 10px;
}