version: "3"
services:
  client:
    build: client/.
    restart: always
    ports:
      - "3000:3000"
    working_dir: /client/src/app
    volumes:
      - ./client:/client/src/app
    depends_on:
      - mongodb
    networks:
      - webappnetwork

  api:
    build: api/.
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - ./api:/api
      - /api/node_modules
    environment:
      - SECRET_KEY_BASE=secret
      - MONGO_URL=mongodb://mongodb:27017/dev
    depends_on:
      - mongodb
    networks:
      - webappnetwork

  mongodb:
    image: mongo
    restart: always
    container_name: mongodb
    volumes:
      - ./data-node:/data/db
    ports:
      - 27017:27017
    command: mongod --noauth
    networks:
      - webappnetwork

networks:
  webappnetwork:
    driver: bridge